/* Mobile-first styles */
body {
  font-size: 8vw;
}



#top{
  text-align: center;
}
#top h1{
  margin-top: 0%;
}
#top h2{
  margin-bottom: 0%;
}


h3{
  font-size: 6vw;
}


#buttons{
  display: grid;
  grid-template-columns: 1fr;
}

#buttons button{
  background-color: rgb(15, 84, 34);
  color: white;
  width: 50vw;
  border-radius: 9px;

}

#buttons button:hover{
  background-color: rgb(14, 145, 20)
}

#switcher{
  background-color: rgb(23, 71, 174);
  color: white;
}







/* Larger screens */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}