/* Mobile-first styles */





body {
  font-size: 8vw;
}


#wd, #wn, #spd, #spn, #sd, #sn, #fd, #fn {
  text-align: center;
  background-size:auto;
  background-repeat:repeat-x;
  background-position: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 9 / 16;
}

/* Specific background images for each ID */
#wd {background-image: url(media/WinterDay.jpg);}
#wn {background-image: url(media/WinterNight.jpg);}
#spd {background-image: url(media/SpringDay.jpg);}
#spn {background-image: url(media/SpringNight.jpg);}
#sd {background-image: url(media/SummerDay.jpg);}
#sn {background-image: url(media/SummerNight.jpg);}
#fd {background-image: url(media/FallDay.jpg);}
#fn {background-image: url(media/FallNight.jpg);}

#top{
  position: absolute;
  top: 5vw;
  left: 5vw;
  right: 5vw;
  text-align: center;

}
#top h1{
  margin-top: 0%;
}
#top h2{
  margin: 0%;
  padding-top: 6vw;
}


h3{
  font-size: 6.5vw;
  text-align: center;
  color: rgb(15, 84, 34);
}


#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Defines two equal columns */
  gap: 10px; /* Space between the buttons */
  margin: 5vw;
}

#buttons button{
  background-color: rgb(15, 84, 34);
  color: white;

  border-radius: 9px;
  font-size: 5vw;
  border: 0vw;
padding: 3vw 2vw;
}

#buttons button:hover{
  background-color: rgb(14, 145, 20)
}

#switcher{
  display: grid;
  grid-template-columns: 1fr 0fr; /* Defines two equal columns */
  gap: 10px; /* Space between the buttons */
  margin: 5vw;
}


#switcher button{
  background-color: rgb(23, 71, 174);
  grid-template-columns: 1fr;
  color: white;
  border-radius: 9px;
  font-size: 5vw;
  border: 0vw;
  padding: 3vw 2vw;
}



/* Mid screens */
@media (min-width: 518px) {
  #wd, #wn, #spd, #spn, #sd, #sn, #fd, #fn {
    background-position: top;
    max-height: 820px;
  }
}

/* Larger screens */
@media (min-width: 980px) {

  #desktop-grid{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Defines two equal columns */
    gap: 10px; /* Space between the buttons */
  }

  body {
    font-size: 2vw;

  }

  #top{
    position: inherit;
    text-align: center;
    background-color: rgb(15, 84, 34);
  color: white;
  }
  
  #top h1{
    margin-bottom: 0%;
    padding-bottom: 1vw;
    
  }
  #top h2{
    padding-top: 1vw;
    
  }
  
  #wd, #wn, #spd, #spn, #sd, #sn, #fd, #fn {
    background-position: top;
    align-content: center;
    background-size: contain;
    height: 100%; /* Adjust height dynamically */
    aspect-ratio: 9 / 16; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 84, 34);
  }

  h3{
    font-size: 2vw;
  }


  #buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Defines two equal columns */
    gap: 10px; /* Space between the buttons */
    margin: 5vw;
  }
  
  #buttons button{
 
    border-radius: 9px;
    font-size: 1vw;
    border: 0vw;
  padding: 1vw 1vw;
  }

  
  
  #switcher button{
    border-radius: 9px;
    font-size: 1vw;
    border: 0vw;
    padding: 1vw 1vw;
  }













}