/* Mobile-first styles */
body {
  font-size: 8vw;
}

  #wd {
    background-image: url(media/WinterDay.jpg);
  }
  #wn {
    background-image: url(media/WinterNight.jpg);
  }
  
  #spd {
    background-image: url(media/SpringDay.jpg);
  }
  #spn {
    background-image: url(media/SpringNight.jpg);
  }

  #sd{
    background-image: url(media/SummerDay.jpg);
  }
  #sn{
    background-image: url(media/SummerDay.jpg);
  }

  #fd{
    background-image: url(media/FallDay.jpg);
  }
  #fn{
    background-image: url(media/FallNight.jpg);
  }





#top{
  text-align: center;
  background-size: cover; /* Ensures the image covers the entire div */
  background-repeat: no-repeat; /* Prevents repeating the image */
  background-position: center; /* Centers the image */
  width: 100%; /* Makes it responsive */
 height: 100%; /* Makes it responsive */
  aspect-ratio: 9 / 16; /* Replace with your image's aspect ratio */
}
#top h1{
  margin-top: 0%;
}
#top h2{
  margin: 0%;
  padding-top: 6vw;
}


h3{
  font-size: 6.5vw;
  text-align: center;
  color: rgb(15, 84, 34);
}


#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Defines two equal columns */
  gap: 10px; /* Space between the buttons */
  margin: 5vw;
}

#buttons button{
  background-color: rgb(15, 84, 34);
  color: white;

  border-radius: 9px;
  font-size: 5vw;
  border: 0vw;
padding: 3vw 2vw;
}

#buttons button:hover{
  background-color: rgb(14, 145, 20)
}

#switcher{
  display: grid;
  grid-template-columns: 1fr 0fr; /* Defines two equal columns */
  gap: 10px; /* Space between the buttons */
  margin: 5vw;
}


#switcher button{
  background-color: rgb(23, 71, 174);
  grid-template-columns: 1fr;
  color: white;
  border-radius: 9px;
  font-size: 5vw;
  border: 0vw;
  padding: 3vw 2vw;
}





/* Larger screens */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}